## Pandas Filtering

In [63]:
import pandas as pd

In [64]:
# data/seoul_avg_age.csv 불러오기
df = pd.read_csv('./data/seoul_avg_age.csv')

In [65]:
# 0th row, col 지우기
df.drop(df.index[0],inplace=True)
df.head()

  동별(1) 동별(2)  2019  2020  2021  2022
1    합계   종로구  44.7  45.2  45.4  45.6
2    합계    중구  45.0  45.6  45.8  46.1
3    합계   용산구  43.9  44.3  44.3  44.4
4    합계   성동구  42.4  43.0  43.4  43.8
5    합계   광진구  41.9  42.4  42.9  43.3

In [66]:
df.drop('동별(1)', axis=1,inplace=True)

In [67]:
# column name 수정하기 (동별(2) -> 구별)
df.rename(columns={'동별(2)':'구별'}, inplace=True)
df.head()

    구별  2019  2020  2021  2022
1  종로구  44.7  45.2  45.4  45.6
2   중구  45.0  45.6  45.8  46.1
3  용산구  43.9  44.3  44.3  44.4
4  성동구  42.4  43.0  43.4  43.8
5  광진구  41.9  42.4  42.9  43.3

In [68]:
# 구별 column index로 설정하기
df.set_index(df.columns[0], inplace=True)
df.head(6)

      2019  2020  2021  2022
구별
종로구   44.7  45.2  45.4  45.6
중구    45.0  45.6  45.8  46.1
용산구   43.9  44.3  44.3  44.4
성동구   42.4  43.0  43.4  43.8
광진구   41.9  42.4  42.9  43.3
동대문구  43.7  44.1  44.3  44.5

In [69]:
# 데이터 자료형 float로 바꾸기
df = df.astype('float')

df['2019'][4]+df['2019'][5]

85.6

In [70]:
df.iloc[:5,1:3]     # Location Searching using Integer

     2020  2021
구별
종로구  45.2  45.4
중구   45.6  45.8
용산구  44.3  44.3
성동구  43.0  43.4
광진구  42.4  42.9

In [71]:
df.iloc[::2,1:3]

      2020  2021
구별
종로구   45.2  45.4
용산구   44.3  44.3
광진구   42.4  42.9
중랑구   44.8  45.3
강북구   46.2  46.7
노원구   43.3  43.9
서대문구  43.6  43.9
양천구   42.2  42.8
구로구   43.7  44.2
영등포구  43.0  43.2
관악구   42.6  42.9
강남구   41.4  41.9
강동구   42.6  43.0

In [72]:
df.loc['종로구':'성동구':2, '2020':'2022']

     2020  2021  2022
구별
종로구  45.2  45.4  45.6
용산구  44.3  44.3  44.4

In [73]:
df.loc[['종로구','성동구','서대문구'], ['2020','2022']]

      2020  2022
구별
종로구   45.2  45.6
성동구   43.0  43.8
서대문구  43.6  44.1

In [74]:
df['2022']>45

구별
종로구      True
중구       True
용산구     False
성동구     False
광진구     False
동대문구    False
중랑구      True
성북구     False
강북구      True
도봉구      True
노원구     False
은평구      True
서대문구    False
마포구     False
양천구     False
강서구     False
구로구     False
금천구      True
영등포구    False
동작구     False
관악구     False
서초구     False
강남구     False
송파구     False
강동구     False
Name: 2022, dtype: bool

In [75]:
df[df['2022']>45]['2022']

구별
종로구    45.6
중구     46.1
중랑구    45.7
강북구    47.3
도봉구    46.7
은평구    45.1
금천구    45.2
Name: 2022, dtype: float64

In [79]:
df[(df['2022'] > 44.5) & (df['2019'] <= 44.5)].head(2)

     2019  2020  2021  2022
구별
중랑구  44.2  44.8  45.3  45.7
은평구  43.6  44.2  44.7  45.1

In [80]:
data = {
    'A':[1,2,3,0],
    'B':[4,5,6,0],
    'C':[7,8,9,0],
}

df2 = pd.DataFrame(data, index=['2019','2021','2022','2023'])
df2

      A  B  C
2019  1  4  7
2021  2  5  8
2022  3  6  9
2023  0  0  0

## Xlwings

In [81]:
import xlwings as xw

In [83]:
wb = xw.Book()

In [85]:
wb.sheets[0]

In [86]:
wb.sheets.add('새시트')

In [87]:
wb.sheets

Sheets([<Sheet [통합 문서1]새시트>, <Sheet [통합 문서1]Sheet1>])

In [88]:
for _i in range(2,4+1):
    wb.sheets.add(f'새시트{_i}')

In [90]:
wb.sheets.add('최종', before=wb.sheets['새시트'])

In [92]:
wb.sheets.add('최종_2', after=wb.sheets['새시트'])

In [93]:
for year in range(2000,2002+1):
    wb.sheets.add(f'{year}년도 결산', after=wb.sheets[-1])

In [94]:
wb.sheets['Sheet1'].name = '1999년도 결산'

In [97]:
for _ in range(6):
    wb.sheets[0].delete()

In [98]:
ws = wb.sheets[0]
ws.activate()

In [99]:
ws.range('a1')

In [100]:
ws.range('a1').value='조직 명단'

In [102]:
ws.range('a3').value='사번'
ws.range('b3').value='이름'
ws.range('c3').value=['메일', '담당', '인사평가', '동료평가']

In [104]:
data = ['A001', 'John Doe', 'jd1234@asdf.com', '기획']
ws.range('a4').value=data

In [105]:
employees = {
    'A': ['B002','C003'],
    'B': ['Jane Doe', 'Gildong Hong'],
    'C': ['jane@example.com','gdhong@example.com'],
    'D': ['인사','퇴근'],
}

In [109]:
ws.range('a5').value=employees['A']

In [110]:
ws.range('a5:b5').clear()

In [112]:
ws.range('a5').options(transpose=True).value=employees['A']

In [114]:
for key, value in employees.items():
    ws.range(f'{key}5').options(transpose=True).value = value

In [115]:
from random import randint

scores = [[randint(70,99) for _ in range(3)] for _ in range(3)]
scores

[[70, 81, 73], [82, 81, 77], [74, 78, 80]]

In [116]:
ws.range('E4').value = scores

In [120]:
ws.range('h4').value = '=SUM(e4:g4)'    # .value로 넘겨도 되고 .formula로 넘겨도 됨

In [121]:
for i in range(5,6+1):
    ws.range(f'h{i}').formula = f'=SUM(E{i}:G{i})'

In [122]:
ws.range('i4').value = '=Average(e4:g4)'

In [123]:
for i in range(5,6+1):
    ws.range(f'i{i}').formula = f'=average(E{i}:G{i})'

In [127]:
ws.range('i4').autofill(ws.range('i4:i6'))

In [128]:
ws.range('D4').expand('right')

In [129]:
ws.range('D4').expand('down')

In [132]:
ws.range('D4').expand('table')

In [137]:
ws.range('d4').end('up').end('left').expand('table')    # Ctrl+A

In [141]:
ws.range('d4').end('up').end('left').options(pd.DataFrame, header=False, index=False, expand='table').value    # Ctrl+A

      0             1                   2   3     4     5
0    사번            이름                  메일  담당  인사평가  동료평가
1  A001      John Doe     jd1234@asdf.com  기획  70.0  81.0
2  B002      Jane Doe    jane@example.com  인사  82.0  81.0
3  C003  Gildong Hong  gdhong@example.com  퇴근  74.0  78.0

In [144]:
ws.range('c4').column

3

In [146]:
df2 = pd.read_csv('./data/customers.csv')
ws2 = wb.sheets[1]
ws2.range('a1').value = df2

In [148]:
ws2.autofit(axis='c')

In [149]:
# Align
# Vertical Center : -4108 / Bottom : -4107
# Horizontal Center : -4108 / Left : -4131 / Right : -4152

ws2.range('a1').row_height = 33.8

In [150]:
ws2.range('a1').expand('right').api.VerticalAlignment = -4107

In [151]:
ws2.range('d1').expand('down').api.HorizontalAlignment = -4108
ws2.range('e1').expand('down').api.HorizontalAlignment = -4152

In [158]:
ws2.range('b1').expand('right').color = '#343434'

In [159]:
ws2.range('b1').expand('right').font.color = '#dedede'

In [160]:
ws2.range('a1').expand('right').api.VerticalAlignment = -4108
ws2.range('b1').expand('right').font.size = 20

In [161]:
ws3 = wb.sheets[2]
ws3.activate()

In [162]:
ws3.pictures

Pictures([])

In [171]:
import os

ws3.pictures.add(os.path.abspath('./imgs/cats.jpg'), top=ws3.range('b3').top, left=ws3.range('b3').left, width=100, height=100)
ws3.pictures.add(os.path.abspath('./imgs/cats.jpg'), top=ws3.range('b3').top, left=ws3.range('e3').left, scale=0.05)

In [170]:
# ws3.pictures[-1].delete()

In [172]:
ws3.pictures.add(os.path.abspath('./imgs/cats.jpg'), anchor=ws3.range('b14'), scale=0.05)

In [173]:
ws3.pictures.add(os.path.abspath('./imgs/cats.jpg'), anchor=ws3.range('g14'), width=ws3.range('g14:i17').width, height=ws3.range('g14:i17').height)

In [174]:
ws3.pictures

Pictures([<Picture 'Picture 1' in <Sheet [통합 문서1]2001년도 결산>>, <Picture 'Picture 2' in <Sheet [통합 문서1]2001년도 결산>>, <Picture 'Picture 3' in <Sheet [통합 문서1]2001년도 결산>>, ...])

In [177]:
wb.save('./data/xlwings_practice.xlsx')

In [178]:
# wb.close()  # Excel만 꺼지고 xlwings는 그대로 남아있어서 Excel 초기 화면이 팝업됨
wb.app.quit()   # Xlwings 자체를 종료하기에 모든 Excel 창이 닫힌다. 여러 Excel 창 있을때 사용 금지.

In [179]:
import glob
import os
import xlwings as xw

In [180]:
files_to_merge = [f_name for f_name in glob.glob('./data/*.xlsx') if os.path.isfile(f_name)]

In [182]:
wb = xw.Book()
dest = wb.sheets[0]

In [183]:
for xl_file in files_to_merge:
    tmp_wb = xw.Book(xl_file)
    for sheet in tmp_wb.sheets:
        sheet.copy(before=dest)
    tmp_wb.close()
    
dest.delete()
wb.save('./data/merged.xlsx')
wb.app.quit()